/node_modules
/public/build
/public/hot
/public/storage
/public/css
/public/js
/public/images
/public/img
/public/dist
/public/fonts
/public/vendor
/public/uploads
/public/mix-manifest.json
/storage/*.key
/vendor
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.docker
