.announcement_content {
    width: 569px;
    margin-left: 15px;
}
.edit_icon {
    width: 45px;
    float: left;
}
.delete_icon {
    width: 30px;
    display: inline;
}
.table_announcements {
    width: 60%;
    margin: auto;
}
.table-text {
    width: 80%;
}
.panel-body.button_add {
    margin-left: 19%;
}
h1.title_create {
    text-align: center;
}
.form-horizontal.announcement {
    width: 60%;
    margin: auto;
}
.validate_fail {
    width: 91%;
    margin-left: 10%;
    float: right;
}
