.edit-announcement-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333;
    line-height: 1.2;
    text-align: center;
}

.form-group {
    overflow: hidden;
    margin-bottom: 20px;
}
.group-announcement-name{
    font-size: 17px;
}

.form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222;
  }

  .form-input-webkit-input-placeholder {
    color: #999;
  }

  .form-input {
    &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
      color: #999;
    }
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
      font-weight: 500;
    }
    &:focus {
      border: 1px solid transparent;
      -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
      -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
      -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
      border-image-source: linear-gradient(to right, #9face6, #74ebd5);
      -webkit-border-image-slice: 1;
      border-image-slice: 1;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      background-origin: border-box;
      &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
        color: #222;
      }
    }
  }

.button-submit {
    all: unset;
    margin-top: 2.4em;
    background: transparent;
    border: 4px solid #53555666;
    padding: 1em 4em;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    font-weight: 700;
    position: relative;
    transition: all 300ms ease;
    max-width: 600px;
    margin: auto;
    span {
        display: inline-block;
        transition: all 300ms ease;
        //z-index: 2;
    }
    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        transition: all 300ms ease;
        opacity: 0;
    }
    &:before {
        height: 7px;
        width: 7px;
        background: transparent;
        border-right: 2px solid;
        border-top: 2px solid;
        right: 30px; top: 21px;
        transform: rotate(45deg);
    }
    &:after {
        background: #222;
        height: 3px;
        width: 50px;
        left: 0;
        top: 1.66em;
        //z-index: 1;
    }
    &:hover {
        span {
            transform: translateX(-10px);
        }
        &:before {
            opacity: 1;
        }
        &:after {
            width: 14px;
            opacity: 1;
            transform: translateX(113px);
        }
    }
}
.edit-announcement-container{
    padding: 12px;
}
.announcement-content{
    resize: vertical;
    min-height: 300px;
    overflow: auto;
}

.btn-close{
    background-color: #ddd;
}
