/* picture edit form */
.image-upload {
    width: 124px;
    height: 139px;

    .image-edit {
        position: relative;
        z-index: 1;
        top: 3px;
        float: right;

        .avatar-picture {
            display: none;

            + .avatar-picture-icon-edit {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;

                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }

                &:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }

    .image-preview {
        width: 100%;
        height: 100%;
        position: relative;
        //border-radius: 100%;
        border: 3px solid #ffffff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

        > #image-preview {
            width: 100%;
            height: 100%;
            //border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.remove_record {
    color: #ad0808;
    position: absolute;
    top: 3px;

    &:hover {
        color: #780909;
    }
}

p.error_message {
    color: #a94442;
}

.content-header {
    text-align: center;
}

.table-users tbody > tr > td {
    vertical-align: middle;
}
